<%= form_for @link, html: {class: 'formGeneral'} do |l| %>

  <p>
    <%= l.text_field :name, class: "formMini",:placeholder => "記事タイトル"%>
  </p>

  <p>
    <%= l.text_field :url,class: "formMini", :placeholder => "URL" %>
  </p>

  <p>
    <%= l.hidden_field :folder_id %>
  </p>

  <p>
    <%= l.submit "保存" ,class: 'submitButton' %>
  </p>




  <% end %>
